body {
	background-color: black;
	font-family: "Open Sans", arial, sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	-webkit-touch-callout: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header,footer {
	position: absolute;
	width: 100%;
	vertical-align: middle;
	color: white;
}

header {
	top: 0px;
	padding-left: 3%;
	font-size: x-large;
	color: white;
	background: rgba(50,50,50,50.8);
}

footer {
	bottom: 0px;
	text-align: center;
	font-size: x-small;
	background: rgba(30,30,30,0.8);
}

#loading{
  background-image: url(img/loading.gif);
  background-repeat: no-repeat;
  background-position: 54px 27px;
  height: 28px;
}

.colLeft {
	float: left;
	padding: 4%;
}

.colMid {
	float: left;
	padding: 7% 5%;
}

.colRight {
	float: left;
	padding: 4%;
}

/* --view box ---*/
#viewBox {
	width: 600px;
	height: 600px;
	margin: auto;
	font-size: xx-large;
	position: relative;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#viewBox.hidden {
	border-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#picBox {
	position: absolute;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	background-repeat: no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	-webkit-box-shadow: 0px 0px 200px 83px #000 inset;
	box-shadow: 0px 0px 200px 83px #000 inset;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#picBox.hidden {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

#vTitle {
	bottom: -25px;
	left: 5px;

	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}

.amRand {
	color: whitesmoke;

	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
	position: absolute;
	bottom: 64px;
	left: -71px;
	z-index: 50;
	font-size: inherit;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.catBox {
	position: absolute;
	width: 100%;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.catBox.hidden {
	display: none;
}

.icon {
	background-image: url(img/icon.png);
	background-repeat: no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: inherit;

	-webkit-box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4), 0 0 50px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4), 0 0 50px rgba(255, 255, 255, 0.3);

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-size: small;
	text-align: center;
}

.icon.empty {
	border: 5px solid red;
	color: red;
}

.icon.noPic {
	border: 3px solid red;
	color: red;
}

.icon.noQte {
	border: 2px solid orange;
	color: orange;
}

.icon.noAuthor {
	border: 2px solid yellow;
	color: yellow;
}

.icon.noInfo {
	border: 1px solid white;
	color: white;
}

.icon.side0.selected {
	-webkit-transform: rotateX(90deg) !important;
	-moz-transform: rotateX(90deg) !important;
	-o-transform: rotateX(90deg) !important;
	-ms-transform: rotateX(90deg) !important;
	transform: rotateX(90deg) !important;
}

.icon.side1.selected {
	-webkit-transform: rotateY(90deg) !important;
	-moz-transform: rotateY(90deg) !important;
	-o-transform: rotateY(90deg) !important;
	-ms-transform: rotateY(90deg) !important;
	transform: rotateY(90deg) !important;
}

.icon.side2.selected {
	-webkit-transform: rotateX(-90deg) !important;
	-moz-transform: rotateX(-90deg) !important;
	-o-transform: rotateX(-90deg) !important;
	-ms-transform: rotateX(-90deg) !important;
	transform: rotateX(-90deg) !important;
}

.icon.side3.selected {
	-webkit-transform: rotateY(-90deg) !important;
	-moz-transform: rotateY(-90deg) !important;
	-o-transform: rotateY(-90deg) !important;
	-ms-transform: rotateY(-90deg) !important;
	transform: rotateY(-90deg) !important;
}

/* ---quote box ---*/
#quoteBox.hidden {
	-webkit-transform: translateX(50px) translateY(-200px) scale(0.5,0.5) !important;
	-moz-transform: translateX(50px) translateY(-200px) scale(0.5,0.5) !important;
	-o-transform: translateX(50px) translateY(-200px) scale(0.5,0.5) !important;
	-ms-transform: translateX(50px) translateY(-200px) scale(0.5,0.5) !important;
	transform: translateX(50px) translateY(-200px) scale(0.5,0.5) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

#quoteBox.side0 {
	-webkit-transform: translateX(44px) translateY(0);
	-moz-transform: translateX(44px) translateY(0);
	-o-transform: translateX(44px) translateY(0);
	-ms-transform: translateX(44px) translateY(0);
	transform: translateX(44px) translateY(0);
}

#quoteBox.side1 {
	-webkit-transform: translateX(10px) translateY(0);
	-moz-transform: translateX(10px) translateY(0);
	-o-transform: translateX(10px) translateY(0);
	-ms-transform: translateX(10px) translateY(0);
	transform: translateX(10px) translateY(0);
}

#quoteBox.side2 {
	-webkit-transform: translateX(30px) translateY(0);
	-moz-transform: translateX(30px) translateY(0);
	-o-transform: translateX(30px) translateY(0);
	-ms-transform: translateX(30px) translateY(0);
	transform: translateX(30px) translateY(0);
}

#quoteBox.side3 {
	-webkit-transform: translateX(50px) translateY(0);
	-moz-transform: translateX(50px) translateY(0);
	-o-transform: translateX(50px) translateY(0);
	-ms-transform: translateX(50px) translateY(0);
	transform: translateX(50px) translateY(0);
}

#quoteBox.side4 {
	-webkit-transform: translateX(37px) translateY(0);
	-moz-transform: translateX(37px) translateY(0);
	-o-transform: translateX(37px) translateY(0);
	-ms-transform: translateX(37px) translateY(0);
	transform: translateX(37px) translateY(0);
}

#quoteBox.side5 {
	-webkit-transform: translateX(19px) translateY(0);
	-moz-transform: translateX(19px) translateY(0);
	-o-transform: translateX(19px) translateY(0);
	-ms-transform: translateX(19px) translateY(0);
	transform: translateX(19px) translateY(0);
}

#quoteBox {
	width: 160px;
	color: whitesmoke;
	font-size: medium;
	padding: 8px 20px 0px 20px;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.qAuthor {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	font-size: smaller;
	font-style: italic;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.qInfo {
	font-size: smaller;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* ---intro page ---*/
#intro {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: whitesmoke;
	background: rgba(0, 0, 0, 0.9);

	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
	z-index: 100;
}

#intro.hidden {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: -10;
}

#intro > h1 {
	font-weight: normal;
	width: 60%;
	margin: 20px auto;
}

#intro > p {
	margin: 20px auto;
	width: 60%;
}

/* ---editor ---*/
#editor {
	position: absolute;
	top: 40px;
	right: 4px;
	width: 200px;
	background: rgba(255, 255, 255, 0.78);
	padding: 10px;
	overflow: hidden;
}

#editor > hr {
	line-height: 8px;
}

#editor > textarea {
	width: 160px;
	font-family: "Open Sans", arial, sans-serif;
	font-size: medium;
	padding: 4px 20px 0px 20px;
}

#tQuote {
	height: 250px;
}

#tAuthor {
	height: 100px;
	font-style: italic;
	font-size: smaller !important;
}

#editor.hidden {
	display: none;
}

input[type='range'] {
	width: 100%;
}

#iLink {
	width: 100%;
}

#pzInfo {
	font-size: small;
	display: inline;
}

/* ---buttons ---*/
.smallBtn {
	color: gray;
	font-style: underline;
}

.smallBtn:hover {
	color: cyan !important;
}

.smallBtn.edit {
	color: black;
}

.btn {
	padding: 20px;
	border: 1px solid #FFF;

	-webkit-box-shadow: inset 0px 0px 8px 2px #FFF;
	box-shadow: inset 0px 0px 8px 2px #FFF;
	border-radius: 8px;
	width: 200px;
	margin: 40px auto;
	text-align: center;
	font-size: x-large;
	color: whitesmoke;
}

#btnEnd {
	position: relative;
	top: 8%;
}

#btnSearch {
	float: right;
}

#btnSave {
	width: 100%;
}

.btn.hidden {
  display: none;
}

/* ---cube ---*/
.scene {
	margin: 50px;
	width: 150px;
	height: 150px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.cube {
	position: relative;
	width: 100%;
	height: 100%;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	-webkit-transform: rotateX(-10deg) rotateY(10deg);
	-moz-transform: rotateX(-10deg) rotateY(10deg);
	-o-transform: rotateX(-10deg) rotateY(10deg);
	-ms-transform: rotateX(-10deg) rotateY(10deg);
	transform: rotateX(-10deg) rotateY(10deg);
}

.cFace {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #FFF;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	border: 2px solid #222;

	-webkit-box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4), 0 0 50px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4), 0 0 50px rgba(255, 255, 255, 0.3);
	line-height: 37px;
	font-size: 24px;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	background-repeat: no-repeat;

	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.fFront {
	-webkit-transform: translate3d(0, 0, 75px);
	-moz-transform: translate3d(0, 0, 75px);
	-o-transform: translate3d(0, 0, 75px);
	-ms-transform: translate3d(0, 0, 75px);
	transform: translate3d(0, 0, 75px);
}

.fBack {
	-webkit-transform: rotateY(180deg) translate3d(0, 0, 75px);
	-moz-transform: rotateY(180deg) translate3d(0, 0, 75px);
	-o-transform: rotateY(180deg) translate3d(0, 0, 75px);
	-ms-transform: rotateY(180deg) translate3d(0, 0, 75px);
	transform: rotateY(180deg) translate3d(0, 0, 75px);
}

.fLeft {
	-webkit-transform: rotateY(-90deg) translate3d(0, 0, 75px);
	-moz-transform: rotateY(-90deg) translate3d(0, 0, 75px);
	-o-transform: rotateY(-90deg) translate3d(0, 0, 75px);
	-ms-transform: rotateY(-90deg) translate3d(0, 0, 75px);
	transform: rotateY(-90deg) translate3d(0, 0, 75px);
}

.fRight {
	-webkit-transform: rotateY(90deg) translate3d(0, 0, 75px);
	-moz-transform: rotateY(90deg) translate3d(0, 0, 75px);
	-o-transform: rotateY(90deg) translate3d(0, 0, 75px);
	-ms-transform: rotateY(90deg) translate3d(0, 0, 75px);
	transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.fTop {
	-webkit-transform: rotateX(90deg) translate3d(0, 0, 75px);
	-moz-transform: rotateX(90deg) translate3d(0, 0, 75px);
	-o-transform: rotateX(90deg) translate3d(0, 0, 75px);
	-ms-transform: rotateX(90deg) translate3d(0, 0, 75px);
	transform: rotateX(90deg) translate3d(0, 0, 75px);
}

.fBottom {
	-webkit-transform: rotateX(-90deg) translate3d(0, 0, 75px);
	-moz-transform: rotateX(-90deg) translate3d(0, 0, 75px);
	-o-transform: rotateX(-90deg) translate3d(0, 0, 75px);
	-ms-transform: rotateX(-90deg) translate3d(0, 0, 75px);
	transform: rotateX(-90deg) translate3d(0, 0, 75px);
}

/* === animations === */
.tv {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: transparent;
  top: 0%;
  left: 0%;
  background: url(http://vitaliyb.files.wordpress.com/2012/01/hoags_object1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -16px 10px;
  -webkit-box-shadow: inset 0px 0px 300px 50px #000;
  box-shadow: 0px 0px 0px 0px black, inset 0px 0px 100px 1px black;
  vertical-align: middle;
  line-height: 600px;
  transition: all 4s cubic-bezier(.76,0,.66,1);
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.tvOff{
  -webkit-transform: scale(1.0, 0.0) rotate(7200deg) ;
  -ms-transform: scale(1.0, 0.0) rotate(2700deg) ;
  -transform: scale(1.0, 0.0) rotate(7200deg) ;
  box-shadow: 0px 0px 100px 1px white, inset 0px 0px 100px 1px white;
}